<!-- for use staic to load static and can link to css file located in statics folder -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Meetups</title>
    <!-- to link for css that included inside static folder -->
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
</head>

<body>
    <header id="main-header">
        <nav>
            <a href="/meetups" id="main-logo">Django Meetups</a>
            <h1>We got great meetups coming up!</h1>
            <p>Find the one that best suit your needs!</p>
        </nav>
    </header>
    <main>
        <section>
            <h2>Upcoming Meetups</h2>
            <ol>
                {% for item in meetups %}
                <li class="meetup-item">
                    <article>
                        <div class="meetup-summary">
                            <div class="meetup-image">
                                <img src="" alt="">
                            </div>
                            <div class="meetup-details">
                                <h3>{{ item.title }}</h3>
                                <address> {{ item.location }}</address>
                            </div>
                        </div>
                        <div class="meetup-action">
                            <a href="" class="btn">More Details</a>
                        </div>
                    </article>
                </li>
                {% endfor %}
            </ol>
        </section>

    </main>
</body>

</html>