{% extends 'meetups/base/base.html' %}  
{% load static %}
{% block title %} All MeetUps {% endblock %}
{% block css_block %}
<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}
{% block main_heading %}We got great meetups coming up!{% endblock %}
{% block header_content %}Find the one that best suit your needs!{% endblock %}
{% block body %}
<section>
    <h2>Upcoming Meetups</h2>
    <ol>
        {% for item in meetups %}
        {% include 'meetups/includes/meetup-item.html' with title=item.title location='New York' slug=item.slug image=item.image.url %}
        {% endfor %}
    </ol>
</section>
{% endblock %}
 